.loginform_bkg {
    background-color: #2f3341 !important;
  }
  
  .already {
    font-size: 0.8rem;
    color: #717486;
  }
  
  .card-header {
    border-bottom: 2px solid #161a27 !important;
  }
  
  
  