.form {
    .btn_login {
        background: -webkit-linear-gradient(#b18d2e, #fecc0d);
        border: none;
        color: #3d3e3f;

        &:active {
            background: -webkit-linear-gradient(#b18d2e, #fecc0d) !important;
        }
        .hidden {
            display: none;
        }
    }
}