.chatBoxContainer {
    border-top: 1px solid #222633;
    padding-bottom: 125px;
    height: 100%;

    .chatBox {
        height: 100%;
        overflow-y: scroll;

        .statusBox {
            border-bottom: 1px solid #1c243a;
            padding-right: 30px !important;
            position: relative;

            div {
                .chat_status {
                    font-size: 0.4rem !important;
                    border: 2px solid #9cacae;
                    padding: 3px;
                    position: absolute;
                    margin-top: 8px;
                }
                .chat_status_info {
                    padding: 0.4rem;
                    padding-left: 18px !important;
                }
            }
            .statusButton {
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                height: 100%;
                background-color: #13192a;
                color: #262f46;
                border: none;
                border-left: 1px solid #1c243a;
              }
        }
        .chatBoxItems {
            padding: 0 5px 10px 5px;
        }
    }
}