/* Colors */
.color-grey {
    color: #717486 !important;
}
  
.color-yellow {
    color: #fef201 !important;
}
  
.color-lighgrey {
    color: #9cacae !important;
}
.color-whitegrey {
    color: #e5e5e5 !important;
}
.color-darkgrey {
    color: #787878 !important;
}
  
.color-green {
    color: #7fe533 !important;
}
/* Background Colors*/
.bkg-lightdarkgrey {
    background-color: #222633;
}
.bkg-lightdarkblue {
    background-color: #13192a !important;
}