.scroll_table_container {
    border: 2px solid #222633;
    height: 100%;
    overflow: auto;
    width: 100%;
  }
  
.scrollBox {
    padding-top: 88px;
    height: 100%;
}

.scroll_table {
    
    &, th, td {
        border-collapse: collapse;
    }
    
    th {
        padding-left: 15px;
    }
    td {
        padding: 5px 11px;
    }
    thead {
        background-color: #303341;
        th {
            color: #a2a3a2;
        }
    }
}
  
.sidebarSelectContainer {
    position: absolute;
    width: 100%;
    padding-left: 15px;
    padding-right: 45px;
}
  