#header {
  position: absolute;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;

  
  .logo {
    width: 50px;
    height: 50px;
  }

  .leftBar {
    margin-left: 158px;

    .leftBorder {
      border-left: 1px solid #1c243a;

      .ethValue {
        color: #dca535 !important;
        font-size: 0.8rem;
        float: right;
      }
    }   

  }

  .userTitle {
    margin-bottom: 0px;
    color: white;

    &.goodEvening {
      font-size: 0.6rem;
    }
    &.usrName {
      font-size: 0.8rem;
    }
    &.win {
      color: #dca535;
      font-size: 0.4rem;
    }
  }

  .usrImgContainer {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 5px;
    border-color: #dca535;
    margin-right: 3px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .notificationBox {
    margin-top: 7px;
    position: relative;
    margin-right: 10px;

    .notificationMailItem {
      position: relative;
      font-size: 3rem;
      color: white;
      width: 35px;
      height: 28px;
      margin-top: 4px;
    }

    .notificationNavItem {
      position: relative;
      font-size: 3rem;
      color: white;
      width: 30px;
      height: 35px;
    }

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fde34b;
      position: absolute;
      top: -3px;
      right: -1px;
    }

    .num {
      position: absolute;
      line-height: 1;
      top: 0;
      right: 5px;
      color: black;
    }
  }

}


.navbar-dark .navbar-nav .active > .nav-link {
  color: #fde34b !important;
}