.footer {
  width: 100%;
  position: fixed;
  bottom: 0;


  .footer-brand-wrapper {
    background-color: #10141d;
    box-shadow: 0 19px 38px rgba(0,0,0,0.90), 20px 20px 15px 12px rgba(0,0,0,0.22);

    .brand_list {
      text-align: center;
      .brand-anim {
        display: inline-block;
        
      }
      img {
        display: inline-block;
        padding: 10px;
        transition: transform 1.2s linear;
        height: 84px;

        &:hover {
          transform: rotateY(360deg)
        }
      }
    }
    
  }

  .copyright {
    background-color: #0c0f13;
    padding: 10px;

    a {
      margin-top : 60px;
      padding: 0 10px;
      text-align: center;
      color: #EAE7E7 !important;
      text-decoration: none;
    }
  }
  
}
